/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem es = a 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/**------------------ Globales-----------------------**/

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2; 
}

a {
  color: black;
  text-decoration: none;
}

.contenedor { 
  max-width: 120rem;
  margin: 0 auto;
}

img { 
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 2rem 0;
}
h1 {
  font-size: 3.8rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}
h2 {
    font-size: 3.2rem;
}
@media (min-width: 768px) { 
    h2 {
        font-size: 4rem;
    }
}
h3 {
    font-size: 2.4rem;
}
@media (min-width: 768px) { 
    h3 {
        font-size: 3rem;
    }
}

.btn {
  background-color: #8cbc00; 
  display: block; 
  color: #fff; 
  text-transform: uppercase; 
  font-weight: 900;
  padding: 1rem; 
  transition: background-color .3s ease-in-out;   
  text-align: center; 
  border: none; 
}

.btn:hover {
  background-color: #769c02; 
  cursor: pointer;
}
@media (min-width: 768px) { 
    .btn {
        width: auto;
    }
}
/**---------------------------Utilidades-----------**/
.text-center {
  text-align: center;
}
@media (min-width: 768px) { 
    .max-width-30 {
        max-width: 30rem;
    }
}

/**---------------------------Header and nav-------------------------------------**/
.nombre-sitio {
  /*Esto es para el titulo*/
  text-align: center;
  margin-top: 5rem
}
.nombre-sitio span {
  color: #037bc0;
}
.contenedor-navegacion {
  border-color: #e1e1e1;
  border-top-style: solid;
  border-width: .1rem;
  display: block;
}
.nav-principal {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; /*Centrar el nav para mobile*/
}
@media (min-width: 768px) { 
    .nav-principal {
        justify-content: space-around;
        flex-direction: row;
    }
}

.nav-principal a {
  font-size: 2rem;
  text-transform: capitalize;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  height: 25rem;
}
@media (min-width: 768px) {
  .hero {
    height: 55rem;
  }
}
/* -----------------Box Model--------------------------------*/
.text-center {
  text-align: center;
  padding: 3rem 0rem 1rem 0rem;
  text-transform: uppercase;
}


/*------------------------------CATEGORIAS----------------*/
.categorias {
  padding: 5rem;
}
.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.categoria a {
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: white;
  border-bottom-right-radius: 2rem;
}

.categoria h2 {
  text-align: center;
}

/*--------------------SOBRE NOSOTROS------------------------*/
.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../img/nosotros.jpg);
  margin-top: 5rem;
  padding: 4rem 0;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%, 100rem;
}
@media (min-width: 1200px) {
  .sobre-nosotros{
    margin: 5rem auto;
    max-width: 180rem;
  }
}
.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
}

.texto-nosotros {
  flex-basis: 60%;
  padding-left: 12rem;
  color: #e1e1e1;
}
@media (min-width: 1200px) {
  .texto-nosotros{
    padding-left: 25rem;
  }

  .texto-nosotros h2 {
    font-size: 5rem;
  }

  .texto-nosotros p {
    font-size: 2rem;
  }
}
.boton-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.boton-conocer-mas {
  font-family: "Puppies Play", cursive;
  font-size: 3rem;
  color: #e1e1e1;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  flex-basis: 60%;
  grid-column: 2/4;
  margin: 0 auto;
}
.boton-conocer-mas:hover {
  color: #000;
}
@media (min-width: 768px) {
  .boton-conocer-mas {
    font-size: 4rem;
    flex-basis: 50%;
    grid-column: 3/4;
  }
}


/*----------------------Lista productos-----------------*/

.contenido-principal {
  padding-top: 5rem;
}

.texto-producto {
  text-align: center;
  color: white;
  padding: 2rem;
}

.texto-producto h3 {
  margin: 0;
  text-transform: uppercase;
}

.texto-producto:nth-child(1) h3 {
  text-align: end;
}

.texto-producto p {
  margin: 0 0 0.5rem;
}

.texto-producto .precio {
  font-size: 4rem;
}

.producto {
  background-color: #037bc0;
}


.producto img:hover {
  transform: scale(0.8);
}

.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.producto:nth-child(1) {
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
  height: 43rem;
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 7;
}

.producto:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.producto:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.producto:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 7;
}


.site-footer h3 {
  margin-bottom: 0.5rem;
}
.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 5rem;
  padding-top: 5rem;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.footer-menu a {
  display: block;
}

.copyright {
  text-align: center;
  margin-top: 5rem;
}

/*-----------Nosotros--------------*/

.contenido-nosotros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
}

.informacion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------------BLOG--------------*/

.contenedor-blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.entrada {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.entrada:last-of-type {
  border: none;
}

.entrada-meta {
  display: flex;
  justify-content: space-between;
}

.entrada-meta p {
  font-weight: bold;
}

.entrada-meta span {
  color: #037bc0;
}
.contenido-entrada-blog {
  width: 60rem;
  margin: 0 auto;
}


/*------------------------------------Galeria-----------------------*/

.galeria {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.galeria img {
  height: 42rem;
  width: 42rem;
  object-fit: cover;
}


/*Formularios*/

.formulario {
  max-width: 60rem;
  margin: 0 auto; 
}

.formulario fieldset {
  border-color: black;
  border-width: .1rem;
  margin-bottom: 2rem;
}

.formulario legend {
  background-color: #005485;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900px; 
  padding: 1rem;
  margin-bottom: 4rem;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
}

.campo label{
  flex-basis: 10rem;
  
}

.campo input:not([type="radio"]), 
textarea, select{
  flex: 1;
  border: .1rem solid #e1e1e1;
  padding: 1rem;
}